body {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../img/stc-logo-preta.jpeg);
    background-size: cover;
}


.header {
    padding-bottom: 5px;
    background-color: var(--white);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.0.5rem 0.5rem #111111;
    z-index: 3;
}

.header .left-content img {
    filter: drop-shadow(2px 2px 2px rgb(8, 8, 8));
    margin: 5px 300px;
    transition: 0.2s ease-in-out;
}

.header .left-content img:hover {
    filter: drop-shadow(2px 2px 2px var(--yellow));

}

.header .right-menu {
    font-family: 'Gotham Book';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 80px;
    gap: 100px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header .right-menu a {
    color: var(--black);
    font-size: 40px;
}

.header .right-menu a:hover {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: var(--yellow);
}

.arrows {
    color: var(--white);
    position: absolute;
    top: 60%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.arrows .show {
    opacity: 1;
}

.arrows .back-arrow {
    font-size: 75px;
}

.arrows .back-arrow:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--yellow);
}

.arrows .foward-arrow {
    position: fixed;
    font-size: 75px;
    left: 95%;
}

.arrows .foward-arrow:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--yellow);
}

.products-content {
    padding-top: 80px;
}

.container {
    margin-left: 200px;
}

.product {
    /* opacity: 0; */
    display: none;
    /* transition: opacity 0.3s ease-in-out; */
}

.image {
    opacity: 0;
}

.image.fade-in {
    opacity: 1;
}

.product.showing {
    display: flex;
    opacity: 1;
}

.product .shirts {
    filter: drop-shadow(-2px 1px 4px var(--yellow));
    height: 50%;
    width: 30%;
    border-radius: 10px;
}

.product.fade {
    opacity: 0;
}

.product .hats {
    margin-top: 80px;
    margin-left: -95px;
    filter: drop-shadow(-2px 1px 4px var(--yellow));
    width: 43%;
    border-radius: 10px;
}

.product .product-infos {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--white);
}

.product-infos h1 {
    margin-bottom: 45px;
    font-size: 75px;
    text-shadow: 1px 1px 8px var(--yellow);
}

.product-infos p {
    line-height: 50px;
    font-size: 35px;
    text-shadow: 1px 1px 2px var(--black);
    margin-bottom: 55px;
}

.product-infos .buy-button {
    background-color: var(--white);
    font-size: 20px;
    color: var(--black);
    width: 250px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.product-infos .buy-button:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: var(--green);
    color: var(--white);
    box-shadow: 5px 5px 2.5px 2px var(--black);
}

.marked {
    text-shadow: 1px 1px 12px var(--yellow);
}

.social-icons {
    padding-top: 55px;
    display: flex;
    gap: 205px;
    text-shadow: 1px 1px 2px var(--black);

}

.social-icons a {
    font-size: 45px;
    color: var(--white);
    transition: 0.4s ease-in-out;
}

.social-icons a:hover {
    color: yellow;
}

/* Responsivo */

@media (max-width: 1510px) {
    body {
        background-size: 110%;
    }

    .header {
        margin-bottom: 100px;
    }

    .header .right-menu {
        padding: -20px;
        margin: 30px 80px;
        gap: 50px;
    }

    .header .right-menu a {
        font-size: 33px;
    }


    .product-infos h1 {
        margin-top: 30px;
        font-size: 40px;
    }

    .product-infos p {
        font-size: 30px;
    }

    .product-infos a {
        margin-bottom: 45px;
    }
}




@media (max-width: 1440px) {
    body {
        background-size: 120%;
    }

    .header {
        margin-bottom: 0px;
    }

    .header .right-menu {
        padding: -20px;
        margin: 30px 80px;
        gap: 50px;
    }

    .header .right-menu a {
        font-size: 33px;
    }


    .container {
        margin-top: 50px;
    }



}

@media (max-width: 1024px) {
    body {
        background-size: 180%;
        background-position: center;
    }

    .header .left-content img {
        margin-top: 15px;
        margin-left: 85px;
        width: 150px;
    }

    .header .right-menu {
        align-items: flex-start;
        margin: 35px 45px;
    }

    .header .right-menu a {
        font-size: 30px;
        text-align: center;
    }

    .container {
        margin-left: 50px;
    }

    .product .hats {
        width: 350px;
        height: 350px;
        margin-left: 30px;
    }

    .product .shirts {
        margin-left: 30px;
        margin-top: 50px;
    }

    .product-infos {
        gap: 5px;
    }

    .product-infos h1 {
        margin: 40px;
        padding-top: 50px;
    }

    .product-infos p {
        margin: 15px;
        line-height: 25px;
        font-size: 20px;
    }

    .buy-button {
        margin-top: 15px;
    }

    .social-icons {
        padding: 0;
        margin: 0;
        gap: 50px;
    }

    .arrows .foward-arrow {
        position: relative;
        left: 580%;
    }
}


@media (max-width: 768px) {
    body {
        background-size: 225%;
        background-position: center;
    }

    .header .left-content img {
        margin: 15px 50px;
        width: 150px;
    }

    .header .right-menu {
        align-items: center;
        margin: 40px 40px;
        gap: 30px;
    }

    .header .right-menu a {
        font-size: 23px;
    }

    .product {
        margin: 0;
        flex-direction: column;
    }

    .container {
        margin-left: 0px;
    }

    .products-content {
        margin: 0;
        padding: 0;
    }

    .product .hats {
        width: 250px;
        height: 250px;
        margin-top: 0;
        margin-left: 280px;
    }

    .product .shirts {
        margin-left: 280px;
        margin-top: 0px;
    }

    .product-infos {
        gap: 15px;
    }

    .product-infos h1 {
        margin: 0px;
        padding-top: 40px;
    }

    .product-infos p {
        margin: 0px;
        line-height: 25px;
        font-size: 20px;
    }

    .buy-button {
        margin-top: 0px;
    }

    .social-icons {
        padding: 0;
        margin: 0;
        gap: 50px;
    }

    .arrows .foward-arrow {
        position: relative;
        left: 400%;
    }
}

@media (max-width: 425px) {
    body {
        background-size: 200vh;
        background-position: center;
    }

    .header .left-content img {
        margin: 25px 35px;
        width: 120px;
    }

    .header .right-menu {
        flex-direction: column;
        margin: 15px 60px;
        gap: 16px;
    }

    .header .right-menu a {
        font-size: 18px;
    }

    .arrows {
        top: 58%;
    }

    .arrows .foward-arrow {
        font-size: 65px;
        position: relative;
        left: 225%;
    }

    .arrows .back-arrow{
        font-size: 65px;
    }

    .container {
        margin-top: 25px;
    }

    .product .shirts {
        width: 55%;
        margin-left: 100px;
        margin-top: 0px;
    }

    .product .hats {
        width: 300px;
        height: 300px;
        margin-top: 0;
        margin-left: 80px;
    }

    .product-infos {
        gap: 0px;
    }

    .product-infos h1 {
        margin-bottom: 15px;
        padding-top: 50px;
    }

    .product-infos p {
        margin: 15px;
        line-height: 25px;
        font-size: 20px;
    }

    .buy-button {
        margin-top: 15px;
    }

    .social-icons {
        padding: 0;
        margin: 0;
        gap: 50px;
    }

}

@media (max-width: 375px) {
    * {
        padding: 0;
        margin: 0;
    }

    .header {
        width: 100%;
    }

    .header .left-content img {
        width: 100px;
    }

    .header .right-menu a {
        font-size: 16px;
    }

    .arrows {
        font-size: 10x;
    }

    .arrows .foward-arrow {
        font-size: 50px;
        position: relative;
        left: 275%;
    }

    .arrows .back-arrow {
        font-size: 50px;
    }

    .product .hats {
        width: 230px;
        height: 230px;
        margin: 20px 80px;
    }

    .product-infos {
        margin: 0;
    }

    .product-infos h1 {
        margin: 0;
        font-size: 35px;
    }

    .product-infos p {
        font-size: 20px;
        margin: 10px;
    }

}


@media (max-width: 320px) {
    .header .left-content img {
        margin: 30px;
        width: 65px;
    }

    .header .right-menu a {
        font-size: 14px;
    }

    .arrows .foward-arrow {
        font-size: 50px;
        position: relative;
        left: 220%;
    }

    .product .shirts{
        margin:5px 80px 40px;

    }

    .product .hats{
        margin: 10px 50px 40px;
    }

    .product-infos h1{
        padding-top: 20px;
        margin-bottom: 25px
    }
}
